body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn {
  background: #22c55e;
  color: white;
}

.complete-btn {
  background: #3b82f6;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #334155;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}